.profile {
    background-image: url('https://media.licdn.com/dms/image/D4E03AQFp3w7IyeXi-Q/profile-displayphoto-shrink_800_800/0/1684476977529?e=1726704000&v=beta&t=7Ji5np2WGqPo86YM0x6WeK9_QImEL3WqARwOlcoXiKs');
    min-height: 300px;
    width: 300px;
    background-size: cover;
    background-position: top; 
    border-radius: 50%;
    margin: auto;
}

.email, .connect {
    text-align: center;
    letter-spacing: 3px;
}